<h1>Manage Main Page</h1>

<table class="table table-bordered">
  <% @cards.each_slice(6) do |card, index| %>
    <tr>
      <td colspan="2" rowspan="2">
        <%= render "card_index", card: @cards[0] %>
      </td>
      <td colspan="2">
        <%= render "card_index", card: @cards[1] %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= render "card_index", card: @cards[2] %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= render "card_index", card: @cards[4] %>
      </td>
      <td colspan="2" rowspan="2">
        <%= render "card_index", card: @cards[3] %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= render "card_index", card: @cards[5] %>
      </td>
    </tr>

  <% end %>
</table>
