<h1>Manage Users</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td class="text-right">
          <% unless user == current_user %>
            <%= link_to admin_user_path(user), class: "btn btn-mini btn-danger", method: :delete, data: { confirm: 'Are you sure you want to remove this user?' } do %>
              <i class="fa fa-trash-o fa-lg"></i> Delete
            <% end %>
          <% end %>
          <%= link_to edit_admin_user_path(user), class: "btn btn-mini btn-default" do %>
            <i class="fa fa-pencil-square-o fa-lg"></i> Edit
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to new_admin_user_path, class: "btn btn-primary" do %>
  <i class="fa fa-user fa-lg"></i> Add New User
<% end %>
